.modal {
	border-radius: 9px;
	background: #FFF;
	padding: 20px 30px;
	font-family: "Plus Jakarta Sans";

	@media (min-width:$mobile){
		overflow-x: hidden; 
	}

	strong {
		font-family: Plus Jakarta Sans;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 32px; /* 160% */
		letter-spacing: 0.1px;
		color: #171725;
	}

	span {
		a {

		}
	}

	hr {
		color: rgba(0, 0, 0, 0.14);
	}

	label {
		font-family: Plus Jakarta Sans;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		color: #1F2937;
		line-height: 22px; /* 157.143% */
		letter-spacing: 0.07px;
	}

	#ec_field_label {
		margin-top: 2px;
		font-size: 14px;
	}

	textarea {
		border-radius: 5px;
		border: 1px solid rgba(0, 0, 0, 0.10);
		width: 100%;
		margin: 6px 0;
		font-size: 16px;
	}

	select {
		border-radius: 2px;
		border: 1px solid #D9D9D9;
		background: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png) no-repeat calc(100% - 10px) center, -webkit-linear-gradient(top, #fff, #fff);
		font-family: Roboto;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; 
		color: rgba(0, 0, 0, 0.85);
		padding: 10px 12px;
		height: auto;
		border-radius: 5.268px;
		border: 1.317px solid #E5E5E5;
	}

	#location, #title {
		height: auto;
		min-height: 45px;
		border-radius: 5.268px;
		border: 1.317px solid #E5E5E5;
		padding: 10px 12px;
		font-family: Plus Jakarta Sans;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0.08px;
		margin-top: 2px;
	}

	

	input[type="button"].active {
		border-radius: 4px;
		background: rgba(0, 0, 0, 0.10);
		display: inline-flex;
		height: 34px;
		padding: 12px 24px;
		justify-content: center;
		align-items: center;
		color: #000000;
		font-family: Plus Jakarta Sans;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 22px; 
		letter-spacing: 0.07px;
		height: initial;
		width: initial;
		margin-right: 8px;
		margin-top: 15px;
		cursor: pointer;
	}

	#ec_field_label {
		margin-bottom: 10px;
	}

	#event_theme {
		min-width: 300px;
	}
}

input.action {
	border-radius: 4px;
	background: #761B7B !important;
	display: inline-flex;
	padding: 12px 24px;
	justify-content: center;
	align-items: center;
	font-family: Plus Jakarta Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px; 
	letter-spacing: 0.07px;
	color: #FEFEFE !important;
	height: initial;
	width: initial;
	margin-top: 15px;
	cursor: pointer;
}

.ql-toolbar.ql-snow {
	margin-top: 15px;
	border-radius: 5px 5px 0 0;
	border: 1px solid rgba(0, 0, 0, 0.14);
}
.ql-editor {
	border-radius: 0 0 5px 5px;
	border: 1px solid rgba(0, 0, 0, 0.14);
}

#start_time, #start_time_time, #end_time_time, #end_time {
	width: fit-content;
	min-width: 23.25%;
	color: rgba(0, 0, 0, 0.85);
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	padding: 10px 15px;
	border-radius: 2.644px;
	border: 1px solid #D9D9D9;
}
#start_time_error, #end_time_error {
	padding-top: 4px;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.15px;
}

#ec_loading {
	.ec_loading_wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 22px;

		.ec_loading_text {
			color: #761B7B;
			font-family: Plus Jakarta Sans;
			font-size: 24px;
			font-style: normal;
			font-weight: 600;
			line-height: 38px;
			letter-spacing: 0.12px;
		}

		img {
			display: inline-block;
			animation: spindotts 2s infinite linear;
		}

	}
}
@keyframes spindotts {
	from {
	transform: rotate(0deg);
	}
	to {
	transform: rotate(360deg);
	}
}


.modal {
	display: block;
}

#ec_loading, #edit_modal_eventDescription, #edit_modal_eventWhen, #edit_modal_eventVideoUrl, #edit_modal_eventAdditionalEventInfo, 
#edit_modal_eventWhere, #edit_modal_eventTitle, #edit_modal_event_theme {
	display: none !important;
}

#review_and_publish {
	// display: block !important;
}
#review_registration_form_modal {
	display: block !important;
}