#event_info_component, #event_config_form {
	font-family: "Plus Jakarta Sans";
	font-size: 14px;
	font-weight: 500;
	line-height: 160%;
	letter-spacing: 0.07px;
}
label {
	color: #78828A;
	/* Body Text/Medium/Medium */
	font-family: "Plus Jakarta Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 22px; /* 157.143% */
	letter-spacing: 0.07px;
}
#event_info_component {
	input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"] {
		width: 98%;
		border-radius: 5px;
		border: 1px solid #E5E5E5;
		background: #FEFEFE;
		display: flex;
		height: 40px;
		padding-left: 15px;
		padding-right: 15px;
	}
	textarea {
		width: 98%;
		padding: 15px;
		border-radius: 5px;
		border: 1px solid #E5E5E5;
		background: #FEFEFE;
		padding-left: 20px;
	}

	#event_date_timezone {
		display: block;
    	margin-top: 10px;
	}

	select {
		border-radius: 2px;
		border: 1px solid #D9D9D9;
		background: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png) no-repeat calc(100% - 10px) center, linear-gradient(top, #fff, #fff);
		font-family: Roboto;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; 
		color: rgba(0, 0, 0, 0.85);
		padding: 10px 12px;
		height: auto;
		border-radius: 5.268px;
		border: 1.317px solid #E5E5E5;
		min-width: 252px;
	}
}




.modal {
	border-radius: 9px;
	background: #FFF;
	padding: 20px 30px;
	font-family: "Plus Jakarta Sans";
	font-size: 14px;
	font-weight: 500;
	line-height: 160%;
	letter-spacing: 0.07px;

	// @media (min-width:$mobile){
	// 	overflow-x: hidden; 
	// }

	strong {
		font-family: "Plus Jakarta Sans";
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 32px; /* 160% */
		letter-spacing: 0.1px;
		color: #171725;
	}

	label {
		font-family: "Plus Jakarta Sans";
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		color: #1F2937;
		line-height: 22px; /* 157.143% */
		letter-spacing: 0.07px;
	}

	#ec_field_label {
		margin-top: 2px;
		font-size: 14px;
	}

	textarea {
		border-radius: 5px;
		border: 1px solid rgba(0, 0, 0, 0.10);
		width: 100%;
		margin: 6px 0;
		font-size: 16px;
	}

	select {
		border-radius: 2px;
		border: 1px solid #D9D9D9;
		background: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png) no-repeat calc(100% - 10px) center, linear-gradient(top, #fff, #fff);
		font-family: Roboto;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; 
		color: rgba(0, 0, 0, 0.85);
		padding: 10px 12px;
		height: auto;
		border-radius: 5.268px;
		border: 1.317px solid #E5E5E5;
	}

	#location, #title {
		height: auto;
		min-height: 45px;
		border-radius: 5.268px;
		border: 1.317px solid #E5E5E5;
		padding: 10px 12px;
		font-family: "Plus Jakarta Sans";
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0.08px;
		margin-top: 2px;
	}

	

	#ec_field_label {
		margin-bottom: 10px;
	}

	#event_theme {
		min-width: 300px;
	}
}

//=======================================================================================================



.button, button, input[type="button"], input[type="image"], input[type="reset"], input[type="submit"] {
	border-radius: 4px;
	display: inline-flex;
	padding: 7px 16px;
	justify-content: center;
	align-items: center;
	font-family: "Plus Jakarta Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px; 
	letter-spacing: 0.07px;
	height: initial;
	width: initial;
	cursor: pointer;
}

input[type="button"].active {
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.10);
	display: inline-flex;
	padding: 7px 16px;
	justify-content: center;
	align-items: center;
	color: #000000;
	font-family: "Plus Jakarta Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px; 
	letter-spacing: 0.07px;
	height: initial;
	width: initial;
	cursor: pointer;
}

.button.action, .button.blue, button.action, button.blue, 
input[type="button"].action, input[type="button"].blue, 
input[type="submit"].action, input[type="submit"].blue, 
input.action, button.action, #apply_filter_button {
	border-radius: 4px;
	background: #761B7B !important;
	display: inline-flex;
	padding: 7px 16px;
	justify-content: center;
	align-items: center;
	font-family: "Plus Jakarta Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px; 
	letter-spacing: 0.07px;
	color: #FEFEFE !important;
	height: initial;
	width: initial;
	margin-left: 4px;
	cursor: pointer;
}

.button.disabled, button:disabled, input[type="button"]:disabled, 
input[type="image"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
	border-radius: 4px;
	display: inline-flex;
	padding: 7px 16px;
	justify-content: center;
	align-items: center;
	font-family: "Plus Jakarta Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px; 
	letter-spacing: 0.07px;
	height: initial;
	width: initial;
	cursor: initial;
}


//=======================================================================================================



.ql-toolbar.ql-snow {
	margin-top: 15px;
	border-radius: 5px 5px 0 0;
	border: 1px solid rgba(0, 0, 0, 0.14);
}
.ql-editor {
	border-radius: 0 0 5px 5px;
	border: 1px solid rgba(0, 0, 0, 0.14);
}

#start_time, #start_time_time, #end_time_time, #end_time {
	width: fit-content;
	min-width: 23.25%;
	color: rgba(0, 0, 0, 0.85);
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	padding: 10px 15px;
	border-radius: 2.644px;
	border: 1px solid #D9D9D9;
}
input[type="date"], input[type="time"] {
	width: fit-content;
	color: rgba(0, 0, 0, 0.85);
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	padding: 10px 15px;
	border-radius: 2.644px;
	border: 1px solid #D9D9D9;
}
#start_time_error, #end_time_error {
	padding-top: 4px;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.15px;
}

#ec_loading {
	.ec_loading_wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 22px;

		.ec_loading_text {
			color: #761B7B;
			font-family: "Plus Jakarta Sans";
			font-size: 24px;
			font-style: normal;
			font-weight: 600;
			line-height: 38px;
			letter-spacing: 0.12px;
		}

		img {
			display: inline-block;
			animation: spindotts 2s infinite linear;
		}

	}
}
@keyframes spindotts {
	from {
	transform: rotate(0deg);
	}
	to {
	transform: rotate(360deg);
	}
}

//=======================================================================================================
.tab {
	margin-bottom: 16px;
}
.tab span {
	height: 38px !important;
	margin-right: -7px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	font-family: "Plus Jakarta Sans";
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: 0.075px;
	background-color: #E7E7E7;
	border-radius: 6px !important;
	border-width: 0px !important;
	position: relative;
}
.tab span:hover {
   background-color: #E7E7E7;
	z-index: 0;
	
	&::before {
		content:'';
		position: absolute;
		top: 3px;
		left: 10px;
		right: 10px;
		bottom: 3px;
		width: calc(100% - 20px);
		height: calc(100% - 6px);
		background-color: #D0D0D0;
		border-radius: 6px;
		z-index: -1;
		transition: all 0.3s ease 0s; 
	}
}
.tab span.active {
	background-color: #E7E7E7;
	color: #FFF !important;
	line-height: 38px;
	border-width: 0px !important;
	position: relative;
	z-index: 1;
	cursor: initial;

	&::before {
		content:'';
		position: absolute;
		top: 3px;
		left: 3px;
		right: 3px;
		bottom: 3px;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		background: #761B7B;
		border-radius: 6px;
		z-index: -1;
	}
}

#ec_share_event_button input[type="button"].action {
	border-radius: 4px;
	border: 1px solid #761B7B;
	background: #761B7B url('@img/share-circles.svg') no-repeat calc(100% - 13px) center !important;
	display: inline-flex;
	padding: 7px 60px 7px 18px;
	padding: 7px 50px 7px 18px;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
}


.tabcontent, .overview_grid, table.overview_grid td {
	border: initial;
}
.overview_content_grid {
	width: 100%;
	padding: 0 14px 5px;
}

.overview_content_grid tbody {
background: #FFF;
	position: relative;

	&::before {
		content:'';
		position: absolute;
		left: 0;
		top: 14px;
		width: 6px;
		height: calc(100% - 28px);
		border-radius: 10px;
	}

	&::after {
		content:'';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 8px;
		overflow: hidden;
		box-shadow: 1px 0px 20px 0px rgba(0, 0, 0, 0.12);
		pointer-events: none;
	}

	tr:first-child td {
		padding-top: 12px;
	}

	tr:last-child td {
		padding-bottom: 12px;
	}
}

.overview_content_grid.overview_content_grid--1 tbody {
	&::before {
		content:'';
		background: linear-gradient(180deg, #8F45D1 0%, #7F8CDE 100%);
	}
}
.overview_content_grid.overview_content_grid--2 tbody {
	&::before {
		content:'';
		background: linear-gradient(180deg, #E53F9B 0%, #DF7BCC 100%);
	}
}
.overview_content_grid.overview_content_grid--3 tbody {
	&::before {
		content:'';
		background: linear-gradient(180deg, #50B547 0%, #6cd063 100%);
	}
}
.overview_content_grid.overview_content_grid--4 tbody {
	&::before {
		content:'';
		background: linear-gradient(180deg, #917524 0%, #EAC55C 100%);
	}
}
.overview_content_grid.overview_content_grid--5 tbody {
	&::before {
		content:'';
		background: linear-gradient(180deg, #0B637F 0%, #45A2C1 100%);
	}
}
.overview_content_grid.overview_content_grid--6 tbody {
	&::before {
		content:'';
		background: linear-gradient(180deg, #761B7B 0%, #86358b 100%);
	}
}



.overview_grid {
	margin: 0 -20px;
	width: calc(100% + 40px);
}

table.overview_content_grid {
	tr {
   	height: 20%;

		td {
			padding: 2px 30px;
			text-align: left;
		}

		.overview_label {
			span {
				color: #2E2E2E;
				font-family: Poppins;
				font-size: 13px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
		}

		.overview_value {
			span {
				color: #2E2E2E;
				font-family: Poppins;
				font-size: 21px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
			}
		}

		.overview_actions {
			color: #000;
			font-family: "Plus Jakarta Sans";
			font-size: 10px;
			font-style: normal;
			font-weight: 600;
			line-height: 26px;
			letter-spacing: 0.05px;

			span {
				display: block;
				min-height: 20px;
			}

			a {
				color: #000;
				font-family: "Plus Jakarta Sans";
				font-size: 10px;
				font-style: normal;
				font-weight: 600;
				line-height: 26px;
				letter-spacing: 0.05px;
				text-decoration-line: underline;
				cursor: pointer;
			}
			
		}
	}
}




//=======================================================================================================

#registrations_table {
	color: #000;
	font-family: "Plus Jakarta Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 44px; /* 320% */
	letter-spacing: 0.07px;
	border-color: #E5E5E5;

	th {
		padding: 7px 15px;
	}

	select#status_filter {
		width: 100%;
		background: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png) no-repeat calc(100% - 10px) center, linear-gradient(top, #ffffff, #ffffff);
		border-radius: 4px;
		border: 0.696px solid #292D32;
	}

	input {
		width: 100%;
		background: #ffffff;
		border-radius: 4px;
		border: 0.696px solid #292D32;
		min-height: 29px;
	}
}
#registrations_table thead {

	th, a {
		color: #000;
		font-family: "Plus Jakarta Sans";
		font-size: 16.709px;
		font-style: normal;
		font-weight: 500;
		line-height: 44px;
		letter-spacing: 0.084px;
		padding-top: 0px;
		padding-bottom: 0px;
		text-align: left;
		background-color: #E8EAFB;
		white-space: nowrap;
	}

}
input[type="checkbox"] {
	-webkit-appearance: none;
	background: #fff;
	border-radius: 2.785px;
	border: 1.392px solid #761B7B;
	border-image: -ms-linear-gradient(top, #fff, #fff);
	width: 16.709px;
	height: 16.709px;
}


//=======================================================================================================

#event_website {
	color: #111;
	font-family: "Plus Jakarta Sans";
	font-size: 21px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%; 
	letter-spacing: 0.105px;

	#ec_event_menu_bar {
		color: #000;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 29px;
		letter-spacing: 0.092px;
	}

	#templateContent {
		color: #171725;
		font-family: "Plus Jakarta Sans";
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 28px;
		letter-spacing: 0.1px;
	}

	#bannerImage {
		border-radius: 25px;
		overflow: hidden;
	}

	#span_eventTitle {
		color: rgba(0, 0, 0, 0.85);
		font-size: 50px;
		font-style: normal;
		font-weight: 700;
		line-height: 60px;
	}

	#span_eventDescription {
		font-size: 18px;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: 0.09px;
	}

	#templateHeader2 {
		color: #171725;
		font-family: "Plus Jakarta Sans";
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 32px;
		letter-spacing: 0.12px;
	}
}



//=======================================================================================================

#event_settings_form {
	color: #78828A;
	font-family: "Plus Jakarta Sans";
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 29px; /* 157.143% */
	letter-spacing: 0.093px;

	input[type=button].action {
		max-width: 120px;
	}
}

#max_registrants, #website_passcode, #waitlist_max_registrants {
	width: 100%;
	max-width: 530px;
	border-radius: 5px;
	border: 1px solid #E5E5E5;
	background: #FEFEFE;
	display: flex;
	height: 40px;
	padding-left: 20px;
	align-items: center;
}

#select_rows_header_control {
	min-height: 16.709px !important;
	height: 16.709px !important;
	width: 16.709px !important;
}



//=======================================================================================================

input[type="checkbox"]:checked:after {
	left: -4px;
	top: -3px;
}

#registrations_table input[type="button"] {
	max-width: 125px;
	background: #bcbcbc;
	border: initial;
}

input[type=button][value="Copy"].action {
	background: url('@img/copy.svg') no-repeat 16px center, linear-gradient(top, #E5E5E5, #E5E5E5) !important;
	padding-left: 42px !important;
	color: #000000 !important;
	font-family: "Plus Jakarta Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0.07px;
	border: 1px solid #dcdcdc !important;
}

.multi_options_button-content {
	right: 0;
	background: #FFF;
	box-shadow: 1px 0px 20px 0px rgba(0, 0, 0, 0.12);
	padding: 5px 0 !important;
}
#registrations_table a {
	padding: 5px 15px !important;
	text-align: left;
	background-color: #FFF;
	color: rgba(0, 0, 0, 0.60);
	font-family: "Plus Jakarta Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0.07px;
	@media (any-hover: hover) {
		&:hover {
			color: #761B7B;
		}
	}
}

#registrations {
	padding: 6px 4px 6px 2px !important;
}

#status_filter {
	option {
		color: rgba(0, 0, 0, 0.60);
		font-family: "Plus Jakarta Sans";
		text-align: left;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 26px;
		letter-spacing: 0.07px;
		padding: 4px 15px 7px;
		@media (any-hover: hover) {
			&:hover {
				color: #761B7B;
			}
		}
	}
}



//=======================================================================================================
#bannerImage {
	position: relative;
}
.edit-magenta {
	display: inline-block;
	height: 25px;
	width: 25px;
	background: url('@img/edit-magenta.svg') 0 0 no-repeat;
	transform: translate(-35px, -165px);
}
.edit-white {
		display: inline-block;
    margin: 0 0 0 10px;
    height: 25px;
    width: 25px;
    background: url('@img/edit-white.svg') center center no-repeat;
}

#eventTitle .edit-white {
	transform: translate(0, -25px);
}

#eventVideoUrl {
	position: relative;

	.edit-white {
		position: absolute;
		height: 25px;
		width: 25px;
		top: 10px;
		right: 10px;
		background: url('@img/edit-white.svg') 0 0 no-repeat;
	}
}









//=======================================================================================================


// .modal {
// 	display: block;
// }

// #ec_loading, #ec_error, #edit_modal_eventDescription, #edit_modal_eventWhen, #edit_modal_eventVideoUrl, #edit_modal_eventAdditionalEventInfo, 
// #edit_modal_eventWhere, #edit_modal_eventTitle, #edit_modal_event_theme, 
// #review_registration_form_modal, #publish_event_modal {
// 	display: none !important;
// }

// #ec_tabs {
// 	display: block !important;
// }




//=======================================================================================================

.select-header {
	width: 100%;
	overflow: auto;
}
.select-header__tabs {
	width: 100%;
	display: flex;
	border-bottom: 1px solid rgba(58, 53, 65, 0.12);
}
.select-header__tab {
	padding: 12px 20px;
} 
.select-header__content 
.select-header__buttons 
.select-header__button 
.select-header__link 
.select-header__link--active 
.select-header__images 
.select-header__image-wrapper 




.select-header {
	width: 100%;
}
.select-header__links {
	width: 100%;
	display: flex;
	border-bottom: 1px solid rgba(58, 53, 65, 0.12);
}
.select-header__link {
	padding: 12px 20px;
}
.select-header__link--active {}
.select-header__content {
	display: flex;
}
.select-header__buttons {
	flex: 0 0 147px;
}
.select-header__button {}
.select-header__button--active {}
.select-header__images {
	flex: 1 1 100%;
	gap: 16px;
}
.select-header__image-wrapper {
	flex: 0 1 50%;
	img {
		width: 100%;
		object-fit: cover;
		overflow: hidden;
	}
}